#navbar{    
    background-color: rgb(0, 156, 104) !important;
}

#details{
    filter: brightness(80%);
}

#transfer{
    background-color: yellow; 
}
#income{
    background-color: rgb(115, 255, 102);
}
#expense{
    background-color: rgb(240, 105, 105);
}