{% extends "base.html" %}

{% block title %} Transakcja {% endblock %}


{% block content %}
<div class="card">
    <div class="card-header">
        <p>{{transaction.name}}</p>
        <p>Data: {{transaction.date}}</p>
        <p>Wartość: {{transaction.value}}</p>
        {%if transaction.image %}
        <img src = '{{transaction.image.url}}' class="img-thumbnail" style="max-height: 500px" alt=""/>
        {%endif%}    
        <p><a class="btn btn-primary" href="{% url "financeAwareness:transactions" %}">Powrót</a>
        <a class="btn btn-secondary" href="{% url "financeAwareness:transaction_form_update" transaction.id %}">Edycja</a>
        <a class="btn btn-danger" href="{% url "financeAwareness:transaction_form_delete" transaction.id %}">Usuń</a></p>       
    </div>
    <div class="card-body">
        {% for item in items %}
        <div class="card">
            <div class="card-header">
                <p>{{item.item_name}}</p>
            </div>
            <div class="card-body">
                <div class="item">                                       
                    <p>Kategoria:{{item.category_id}}</p>
                    <p>Wartość: {{item.item_value}}</p>
                    {% if item.is_planned %}
                    <p>Zaplanowany:<input type="checkbox" class="form-check" name="is_planned" checked disabled></p>
                    {% else %}
                    <p>Zaplanowany:<input type="checkbox" class="form-check" name="is_planned" disabled></p>   
                    {% endif %}
                    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}