{% extends "base.html" %}

{% block title %} {{title}} {% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <p>{{transaction.name}}</p>
        <p>Data: {{transaction.date}}</p>
        <p>Wartość: {{transaction.value}}</p>
        
        <p>Tagi: {% for tag in transaction.tags.all %}<span id=tags> {{tag}}</span> {%endfor%}</p>
        <div class="d-grid gap-2">   
        {%if transaction.image %}
        <img src = '{{transaction.image.url}}' class="img-thumbnail mx-auto d-block" style="max-height: 500px;max-width: 500px" alt=""/>
        {%endif%}
        {%if transaction.type == "recurringIncome" or transaction.type == "recurringExpense" %}

        {%if transaction.recurring_type == "month" %}
        <p>Miesieczna</p>
        {%elif transaction.recurring_type == "week" %}
        <p>Tygodniowa</p>
        {%elif transaction.recurring_type == "year" %}
        <p>Roczna</p>
        {%elif transaction.recurring_type == "quarter" %}
        <p>Kwartalna</p>

        {%endif%}
        {%endif%}          
        {% if transaction.type == "recurringIncome" or transaction.type == "recurringExpense" %}
        <a class="btn btn-primary" href="{% url "financeAwareness:recurrings" %}">Powrót</a>
        <a class="btn btn-secondary" href="{% url "financeAwareness:recurring_form_update" transaction.id %}">Edycja</a>
        <a class="btn btn-danger" href="{% url "financeAwareness:recurring_form_delete" transaction.id %}">Usuń</a>
        {% elif transaction.type == "planned" %}
        <a class="btn btn-primary" href="{% url "financeAwareness:planned" %}">Powrót</a>
        <a class="btn btn-secondary" href="{% url "financeAwareness:planned_details_pdf" transaction.id %}">Generuj pdf</a>
        <a class="btn btn-secondary" href="{% url "financeAwareness:planned_form_update" transaction.id %}">Edycja</a>
        <a class="btn btn-danger" href="{% url "financeAwareness:planned_form_delete" transaction.id %}">Usuń</a> 
        {% else %}
        <a class="btn btn-primary" href="{% url "financeAwareness:transactions" %}">Powrót</a>
        <a class="btn btn-secondary" href="{% url "financeAwareness:transaction_form_update" transaction.id %}">Edycja</a>
        <a class="btn btn-danger" href="{% url "financeAwareness:transaction_form_delete" transaction.id %}">Usuń</a>
        {% endif %}  
        </div>
    </div>
    <div class="card-body">
        {% for item,subcategory in context %}
        <div class="card">
            <div class="card-header">
                <p>{{item.item_name}}</p>
            </div>
            <div class="card-body">
                <div class="item">                                       
                    <p>Kategoria: {{item.category}}</p>
                    <p>Podkategoria: {{subcategory}}</p>
                    <p>Wartość: {{item.item_value}}</p>
                    {% if item.is_planned %}
                    <p>Zaplanowany:<input type="checkbox" class="form-check" name="is_planned" checked disabled></p>
                    {% else %}
                    <p>Zaplanowany:<input type="checkbox" class="form-check" name="is_planned" disabled></p>   
                    {% endif %}
                    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}