{% extends "base.html" %}

{% block title %} Zaktualizuj Transakcje {% endblock %}
{% block content %}
<script>       
    $( function() {
    $( "#id_date" ).datepicker({
    showWeek: true,
    dateFormat: 'dd.mm.yy',
    regional: 'pl',
    firstDay: 1
    });
} );

</script>
<div class="card">
    <div class="card-header">
        <h3>Zaktualizuj transakcje</h3>
    </div>
    <div class="card-body">
        <form action="#" method="post"  enctype="multipart/form-data">   
            {{transaction_form.as_p}}
            {% csrf_token %}
            <div id='items'>
            {% for transaction_item_form in transaction_item_forms %}
            <div style="background-color: rgb(188, 210, 224);border-radius: 5px; margin-bottom: 1em;" id='item_1' class = 'transaction_item'>
                <p><input class="btn btn-secondary" type="button" onclick="delete_item(this)" value="Usuń element"></p>
                {{transaction_item_form.item_name.label_tag}}
                {{transaction_item_form.item_name}}
                {{transaction_item_form.category_id.label_tag}}  
                {{transaction_item_form.category_id}}
                {{transaction_item_form.subcategory.label_tag}}
                {{transaction_item_form.subcategory}}
                {{transaction_item_form.item_value.label_tag}}
                {{transaction_item_form.item_value}}
                {{transaction_item_form.is_planned.label_tag}}
                {{transaction_item_form.is_planned}}
            </div>          
            {% endfor %}
            </div>
            <input class="btn btn-secondary" type="button" onclick="add_item()" value="Dodaj element">
            <input class="btn btn-primary" type="submit" value="Zaktualizuj transakcje">
        </form>
        </div>
    </div>
{% endblock %}