{% extends "base.html" %}
{% load humanize %}
{% block title %} Zaplanowane transakcje {% endblock %}

{% block content %}
<div class="card text-center" >
    <div class="card-header">
        <h1>Zaplanowane transakcje</h1>
        <a class="btn btn-primary" href="{% url "financeAwareness:new_planned" %}">Zaplanuj wydatek</a>
    </div>

    <div class="row row-cols-2 row-cols-md-4 g-4">
    {% for transaction in transactions %}
        <div class="col">
            <div class="card text-center">
                <div class="card-header">
                    <p><a class="btn btn-outline-dark" id="details" href="{% url "financeAwareness:planned_details" transaction.id %}">{{transaction.name}}</a></p>
                </div>
                <div class="card-body">
                    <p>Kolejna transakcja: {{transaction.date | naturalday}}</p>
                    <p>Wartość: {{transaction.value}}</p>
                    <a class="btn btn-secondary" href="{% url "financeAwareness:planned_form_add" transaction.id %}">Dokonaj transakcji</a>
                </div>
            </div>
        </div> 
    {% endfor %}
    </div>
</div>
{% endblock %}