{% extends "base.html" %}

{% block title %} Zakutalizuj kategorie {% endblock %}
{% block content %}
<div class="card">
    <div class="card-header">
        <h3>Zakutalizuj kategorie</h3>
    </div>
    <div class="card-body">
        <form action="" method="post">
            {{category_form.as_p}}
            {% csrf_token %}
            <input class="btn btn-primary" type="submit" value="Zakutalizuj">
            <a class="btn btn-secondary" href="{% url "financeAwareness:category_details" category_id %}">Wróć</a>
        </form>
    </div>
</div>



{% endblock %}