{% extends "base.html" %}

{% block title %} Kategorie {% endblock %}

{% block content %}
<div class="transaction">
{% for subcategory in subcategories %}
    <div class="item">
        <a href="{{subcategory.get_subcategory_url}}">{{subcategory.name}}</a>
    </div>
{% endfor %}
<div class="item">
    <a href="{{category.get_category_url}}">+</a>
    </div>
</div>
<div class="item">
    <a href="{% url "financeAwareness:category_form_update" category.id %}">Zmień</a>
    <a href="{% url "financeAwareness:category_form_delete" category.id %}">Usuń</a>
    </div>
</div>
{% endblock %}