{% extends "base.html" %}

{% block title %} Zakutalizuj podkategorie {% endblock %}
{% block content %}
<div class="card">
    <div class="card-header">
        <h3>Zakutalizuj podkategorie</h3>
    </div>
    <div class="card-body">
        <form action="" method="post">
            {{subcategory_form.as_p}}
            {% csrf_token %}
            <input class="btn btn-primary" type="submit" value="Zakutalizuj">
            <a class="btn btn-secondary" href="{% url "financeAwareness:category_details" category.id %}">Wróć</a>
        </form>
    </div>
</div>
{% endblock %}