{% extends "base.html" %}

{% block title %} Zmiana hasła {% endblock %}
{% block content %}

<div class="card text-center" id="password">
    <div class="card-header">
        <h3>Zmiana hasła</h3>        
    </div>
    <div class="card-body" >
        <form action="{% url 'financeAwareness:password_change' %}" method="post">
            {{form.as_p}}        
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <p><input class="btn btn-primary" type="submit" value="Zmień"></p>
        </form>
    </div>
</div>

{% endblock %}