{% extends "base.html" %}

{% block title %} Rejestracja {% endblock %}
{% block content %}

<div class="card">
    <div class="card-header">
        <h3>Rejestracja</h3>
    </div>
    <div class="card-body">
        <form action="#" method="post">
            {{user_form.as_p}}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <p><input class="btn btn-primary" type="submit" value="Utwórz konto"></p>
        </form>
    </div>
</div>
{% endblock %}