{% load financeAwareness_tags %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static "css/site.css" %}" rel="stylesheet">
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/site.js" %}"></script>        
        <script src="{% static "js/jquery-3.6.0.min.js" %}"></script>        
        <script src="{% static "js/jquery-ui.min.js" %}"></script>
        <script src="{% static "js/datepicker-pl.js" %}"></script> 
        <link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
        <link href="{% static "css/jquery-ui.structure.min.css" %}' rel="stylesheet">
        <link href="{% static "css/jquery-ui.theme.min.css" %}" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>       
        <script> 
        var subcategories = "{% url 'financeAwareness:ajaxSubcategories' %}" 
        </script>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark" id="navbar" >
                <div class="container-fluid" >
                    <span class="navbar-brand">FinanceAwareness</span>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                        <span class="navbar-toggler-icon"></span>
                      </button>                              
                    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">               
                        <ul class="navbar-nav">
                            {% if request.user.is_authenticated %}   
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "financeAwareness:transactions" %}">Transakcje</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "financeAwareness:categories" %}">Kategorie</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "financeAwareness:tags" %}">Tagi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "financeAwareness:accounts" %}">Konta i cele</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "financeAwareness:reports_list" %}">Raporty</a>
                            </li>                           
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "financeAwareness:recurrings" %}">Stałe transakcje</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "financeAwareness:planned" %}">Planuj wydatki</a>
                            </li>
                            <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Opcje</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url "financeAwareness:password_change" %}">Zmiana hasła</a></li>
                            <li><a class="dropdown-item" href="{% url "financeAwareness:logout" %}">Wyloguj</a></li>
                            </ul>                          
                            </li>   
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "financeAwareness:login" %}">Zaloguj</a>
                            </li>
                            {% endif %}
                        </ul>              
                    </div>                     
                </div>
            </nav>
        </header>
        
        
        <div class="container min-vh-100 p-3">
            {% if request.user.is_authenticated %}
            <div class="container-fluid ">
                <div class="row row-cols-1 row-cols-lg-3 mb-3 g-4">
                    <div class="col" >
                        <div class="card text-center">
                            <div class="card-header " >
                                <h3>Dostępne środki</h3>
                            </div>
                            <div class="card-body" >                                
                                <p>W portfelu: {% available_funds_cash request.user.id %}</p>
                                <p>W banku: {% available_funds_bank request.user.id %}</p>
                                <p>Razem: {% available_funds request.user.id %}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header">
                                <h3>Nadchodzące transakcje</h3>
                            </div>
                            <div class="card-body">
                                {% reccuring_next request.user.id %}
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card text-center">
                            <div class="card-header">
                                <h3>Cel</h3>
                            </div>
                            <div class="card-body">
                                {% active_goal request.user.id %}
                            </div>
                        </div>
                    </div>
                </div>
                   
            {% endif %}

                {% block content %}
                {% endblock %}
            </div> 
        </div>
        <footer class="text-center">
            <div class="footer" id="navbar">
                <h1>Praca inżynierska</h1>
                <h1>Autorstwa: Adrian Wojtasik</h1>
            </div>
        </footer>
         
    </body>
</html>